{% extends "layout.html" %}
{% block breadcrumb %}<p class="breadcrumb"><a href="/">Archimedes</a> / <a href="/speed-limits">Speed-Limits Quality</a> / Sign Checker</p>{% endblock %}
{% block content %}
<p><a href="/sign-checker">&larr; Back</a></p>
<div class="card">
  <span class="badge err">Error</span>
  <pre class="log">{{ message }}</pre>
</div>
{% if log %}
<div class="card">
  <h3 style="margin-top:0;">Run log</h3>
  <pre class="log">{{ log|join("\n") }}</pre>
</div>
{% endif %}
{% endblock %}
